* {
  margin: 0;
  padding: 0;
  background-image: url(/src/assets/images/background.jpg);
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.express {
  color: rgb(254, 253, 254);
  font-family: 'Queenfair';
  font-size: large;
  letter-spacing: 2px;
  margin-bottom: -100px;
  position: relative;
  bottom: 25px;
  padding: 3px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
}

.navbar {
  display: grid;
  grid-template:
    "logo  header";
  padding-top: 25px;
  position: sticky;
  top: 0;
  width: 100%;

}

.logo {
  grid-area: logo;
  padding-left: 45px;
  font-size: larger;
  font-family: 'Playfair';
  letter-spacing: 4px;
}

.logo-text {
  color: rgb(248, 236, 236);
  font-weight: 300;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style: none;
  font-size: larger;
  padding-right: 25px;
  font-family: 'Shoogie';
  font-weight: 600;
  letter-spacing: 4px;
}


@keyframes slideInLeft {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0);
  }
}



.hero-message-2 {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  letter-spacing: 3px;
  color:rgb(219, 172, 172);

}


img {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: lightgrey;
}


.about {
  grid-area: about;
  color: aliceblue;
}

.my-work {
  grid-area: my-work;
  color: aliceblue;
}



/* projects section */

.project-title {
  font-family: 'Shoogie';
  letter-spacing: 2px;
  font-size: 30px;
}

.subtitle {
  font-size: larger;
  font-family: 'Playfair';
  color: rgb(241, 203, 216);
  margin-top: 17px;
}

.projects {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.project {
  width: 45%; 
  padding: 20px; 
  box-sizing: border-box; 
}

.container {
  display: flex;
  align-items: center;
}

.first-project {
  text-align: end;
  padding-right: 7px;
}

.second-project {
  text-align: start;
}


.container.left {
  justify-content: flex-end; 
  margin-left: -5px;
}

.container.right {
  justify-content: flex-start; 
}

.project-details {
  margin-left: 20px; 
}

.project-details li {
  list-style: none;
}

@media (max-width: 768px) {
  .project {
    width: 100%; 
  }
}

/* end of projects section */


.work-title {
  text-align: center;
  padding: 2em;
  margin-top: 100px;
  font-style: italic;
  font-size: 3em;
  text-transform: uppercase;
}

.skills {
  grid-area: skills;
  color: aliceblue;
  text-align: center;
}

.hero-message {
  text-shadow: 2px 4px 6px rgb(222, 133, 133);
  line-height: 90px;
  letter-spacing: 6px;
  font-size: 60px;
  font-family: 'Shoogie';
  font-weight: 500;
  animation: hero-message 1s ease-in-out infinite alternate;
}


.list-item {
  padding: 10px;
  font-size: larger;
  list-style: none;
}

.contact {
  grid-area: contact;
  text-align: center;
  color: aliceblue;
}

.main {
  grid-area: main;
  color: aliceblue;

}

.first::first-letter {
  display: inline-block;
  font-size: 90px;
  color: rgb(219, 172, 172);
  font-family: 'Playfair';
  font-weight: 500;
}

.comma {
  color: rgb(178, 142, 142);
}

.hero {
  display: grid;
  grid-template:
    "hero-text  hero-image";
  margin-bottom: 70px;
}

.hero-image {
  margin-top: 5em;
  box-shadow: 5px 5px 40px rgb(255, 255, 255);
  border-radius: 40%;
  opacity: 70%;
}

.hero-message-2 {
  font-family: 'Montserrat';
 
}


.hero-text {
  grid-area: hero-text;
  align-self: center;
  text-align: center;
}

.section {
  grid-area: section;
}

.tech-stack { 
  margin: 8%;
  padding: 5px;
}

.svgs {
  padding: 65px;
}

.skills-title{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  border: solid rgb(44, 40, 40);
  color: rgba(255, 255, 255, 0.784);
  padding: 15px;
  margin: 45px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
}

.socials {
  display: grid;
  grid-template-areas:
    "email  linkedin  github";
  text-align: center;
}

.email {
  grid-area: email;
  color: aliceblue;
  padding: 50px;
}

.email::after {
  transition: 0.6;
}

.linkedin {
  grid-area: linkedin;
  color: aliceblue;
  padding: 50px;
}

.github {
  grid-area: github;
  color: aliceblue;
  padding: 50px;
}

.list {
  padding-bottom: 5em;
}



@media screen and (max-width:900px) {
  .projects {
    display: grid;
    grid-template:
      "project-1"
      "project-2"
      "project-3";
  }

  .hero-message-1 {
    padding-top: 1.5em;
  }

  .hero-message {
    font-size: 3em;
  }
}

@media screen and (max-width:600px) {
  .hero-image {
    display: none;
  }

  .email,
  .github,
  .linkedin {
    padding: 40px;
  }
}









