* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo   logo   logo"
    "header header header"
    "main main main"
    "main main main"
    "section section section"
    "footer footer footer";
    
}

@keyframes slideInLeft {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0);
  }
}

.logo:hover {
  transition: 1s;
}

.hero-message-2 {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

}

.logo {
  grid-area: logo;
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: sticky;
  top: 0;
}


.header > ul{  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "about my-work  skills contact";
  grid-area: header;
  background-color:rgb(0, 0, 0) ;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

img {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  color: grey;
  font-size: larger;
  transition: 0.5s;
}

.about {
   grid-area: about; 
   color: aliceblue;
}

.my-work {
   grid-area: my-work;
   color: aliceblue;
}

.projects {
  display: grid;
  grid-template: 
  "project-1  project-2  project-3";
  text-align: center;
  gap: 10px;
}

.project-1 {
  grid-area: project-1;
  border: solid rgb(149, 107, 107);
  background-color: rgba(0, 0, 0, 0) ;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.brewery-tours {
  width: 250px;
  height: 260px;
  padding-top: 10px;
}

.brewery-tours:hover {
  box-shadow: 2px 2px 12px rgb(255, 249, 249);

}

.project-2 {
  grid-area: project-2;
  border: solid rgb(150, 117, 117);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.project-3 {
  grid-area: project-3;
  border: solid rgb(157, 114, 114);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.work-title {
  text-align: center;
  padding: 2em;
  margin-top: 100px;
  font-style: italic;
  font-size: 3em;
  text-transform: uppercase;
}

.skills {
  grid-area: skills;
  color: aliceblue;
  text-align: center;
}

.hero-message {
  font-size: 60px;
  text-shadow: 0px 0px 5px  rgb(255, 255, 255);
}

.list-item {
  padding: 10px;
  font-size: larger;
  list-style: none;
}

.contact {
   grid-area: contact;
   text-align: center; 
   color: aliceblue;
}

.main {
   grid-area: main;
   /* background: linear-gradient(black, rgb(195, 138, 138), rgb(109, 72, 72), rgb(194, 153, 153),  rgb(211, 147, 178), black); */
  color: aliceblue;
  background-image: url(/src/assets/images/background.jpg);
}

.hero {
  display: grid;
  grid-template: 
  "hero-text  hero-image";
}

.hero-image {
  margin-top: 5em;
  box-shadow: 5px 5px 40px  rgb(255, 255, 255);
  border-radius: 40%;
  
}

.hero-message-2 {
  font-family: 'Montserrat', sans-serif;
}


.hero-text {
  grid-area: hero-text;
  align-self: center;
  text-align: center;
}

.section {
  grid-area: section;
}

.skills-title {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  border: solid rgb(44, 40, 40);
  color: rgba(255, 255, 255, 0.784);
  padding: 15px;
  margin: 15px;
  margin-top: 50px;
  background-color:rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.footer {
   grid-area: footer; 
   background-color: rgb(0, 0, 0);
}

.socials {
  display: grid;
  grid-template-areas: 
  "email  linkedin  github";
  text-align: center;
}

.email {
  grid-area: email;
  color: aliceblue;
  padding: 50px;
}

.email::after {
  transition: 0.6;
}

.linkedin {
  grid-area: linkedin;
  color: aliceblue;
  padding: 50px;
}

.github {
  grid-area: github;
  color: aliceblue;
  padding: 50px;
}

.list {
  padding-bottom: 5em;
}

.html:hover {
  color: red;
  transition: 0.5s;
}

.css:hover {
   color: rgb(41, 85, 109);
   transition: 0.5s;
}

.react:hover {
  color: rgb(0, 42, 255);
  transition: 0.5s;
}

.javascript:hover {
  color: yellow;
  transition: 0.5s;
}

.api:hover {
  color: brown;
  transition: 0.5s;
}

.project-name {
  padding-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

@media screen and (max-width:900px)  {
  .projects {
    display: grid;
    grid-template: 
    "project-1"
    "project-2"
    "project-3";
  }

  .hero-message-1 {
    padding-top: 1.5em;
  }

  .hero-message {
    font-size: 3em;
  }
}

@media screen and (max-width:600px) {
  .hero-image {
    display: none;
  }
  
  .email, .github, .linkedin {
    padding: 40px;
  }
}